################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorWasm.JwtAuthLearning
/BlazorWasm.JwtAuthLearning/bin/Debug/netstandard2.1
/BlazorWasm.JwtAuthLearning/obj
